<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'FW/style.css' %}">
    <meta charset="UTF-8">
    <title>{{club.club_name}}</title>
</head>
<body>
    <h2>{{club.club_name}}</h2>
    <table>
        <tr>
            <th><h4>Club Name</h4></th>
            <th><h4>{{club.club_name}}</h4></th>
        </tr>
        <tr>
            <th><h4>Year of foundation</h4></th>
            <th><h4>{{club.foundation_date}}</h4></th>
        </tr>
        <tr>
            <th><h4>Country</h4></th>
            <th><h4>{{club.country}}</h4></th>
        </tr>
    </table>
    <table style="margin-top: 1%";>
        <h2> Players in the club: </h2>
        <tr>
            <th><h4>No</h4></th>
            <th><h4>Player</h4></th>
            <th><h4>Country</h4></th>
            <th><h4>Position</h4></th>
        </tr>
    {% for pl in Player %}
        <tr>
            <th><h3>{{forloop.counter}}</h3></th>
            <th><h3><a href="{% url 'FW:player' pl.id %}">{{pl.name}} {{pl.surname}} </a></h3></th>
            <th><h3>{{pl.nationality}}</h3></th>
            <th><h3>{{pl.position}}</h3></th>
        </tr>
    {% empty %}
        <h2> No players available in the database</h2>
    {% endfor %}
    </table>
<footer id="Footer">
<ol id="FooterList">
    <li><a href="{% url 'FW:help' %}">Get some help</a></li>
    <li>FootballWRLD <br><center>2021</center></li>
    <li><a href="{% url 'FW:index' %}">Return to menu</a></li>
</ol>
</footer>
</body>
</html>