<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'FW/style.css' %}">
    <title>Draft</title>
</head>
<body>
<div class="UpperBanner"><h1 class="UpperBannerText">Draft</h1></div>

<label>Choose a Goalkeeper:</label>
<select>
    {% for pl in random_gk %}
<option value="">{{pl.name}} {{pl.surname}}</option>
{% endfor %}
</select>

<label>Choose a Defender:</label>
<select>
    {% for pl in random_def %}
<option value="">{{pl.name}} {{pl.surname}}</option>
{% endfor %}
</select>

<label>Choose a Midfielder:</label>
<select>
    {% for pl in random_mid %}
<option value="">{{pl.name}} {{pl.surname}}</option>
{% endfor %}
</select>

<label>Choose a Attacker:</label>
<select>
    {% for pl in random_att %}
<option value="">{{pl.name}} {{pl.surname}}</option>
{% endfor %}
</select>

<label>Choose a Last slot player:</label>
<select>
    {% for pl in random_last_slot_players %}
<option value="">{{pl.name}} {{pl.surname}}</option>
{% endfor %}
</select>

<footer id="Footer">
<ol id="FooterList">
    <li><a href="{% url 'FW:index' %}">Return to menu</a></li>
    <li>FootballWRLD <br><center>2021</center></li>
    <li><a href="{% url 'FW:index' %}">Return to menu</a></li>
</ol>
</footer>

</body>
</html>