<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'FW/style.css' %}">
    <meta charset="UTF-8">
    <title>Players' filter</title>
</head>
<body>
<section id="FilterContainer">
<div class="UpperBanner"><h1 class="UpperBannerText">Filters</h1></div>
<form method="get" class="FilterForm">
    {{ filter.form.as_p }}
    <button type="submit" class="submit-button">Filter</button>
</form>

<table class="FilterPlayer">
    <tr>
    <th><h3>No.</h3></th>
    <th><h3>Player</h3></th>
    <th><h3>Club</h3></th>
    <th><h3>Position</h3></th>
    </tr>
    {% for pl in filter.qs %}
    <tr>
        <th><h2>{{forloop.counter}}</h2></th>
        <th><h2><a href="{% url 'FW:player' pl.id%}">{{pl.name}} {{pl.surname}}</a></h2></th>
        <th><h2> <a href="{% url 'FW:club' pl.club.id%}">{{pl.club}}</a></h2></th>
        <th><h2> {{pl.get_position_display}}</h2></th>
    {% endfor %}
    </tr>
</table>
</section>
<footer id="Footer">
<ol id="FooterList">
    <li><a href="{% url 'FW:help' %}">Get some help</a></li>
    <li>FootballWRLD <br><center>2021</center></li>
    <li><a href="{% url 'FW:index' %}">Return to menu</a></li>
</ol>
</footer>
</body>
</html>