<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'FW/style.css' %}">
    <meta charset="UTF-8">
    <title>Players' filter</title>
</head>
<body>
<form method="get" class="FilterForm">
    {{ filter.form.as_p }}
    <button type="submit" class="submit-button">Filter</button>
</form>
<ul class="FilterPlayer">
    {% for pl in filter.qs %}

        <h2>{{forloop.counter}}. <a href="{% url 'FW:Player' pl.id%}">{{pl.name}} {{pl.surname}}</a></h2>
    {% endfor %}
</ul>

</body>
</html>