<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'FW/style.css' %}">
    <title>FootballWRLD</title>
</head>
<body>
<div class="UpperBanner"><h1>Welcome to FootballWRLD</h1></div>
<section id="create">
    <div class="Create" style="padding-top: 21%">
        <h3><a href="{% url 'FW:create_player' %}">Create a player</a></h3>
        <h5>Create a new player by adding the name, nationality and club representation</h5>
    </div>
    <div class="Create">
        <h3><a href="{% url 'FW:create_club' %}">Create a Club</a></h3>
        <h5>Use the filters in order to find a player</h5>
    </div>
    </section>
    <section id="features">
        <div class="Features" style="padding-top: 42%">
            <h3><a href="{% url 'FW:draft' %}">Draft</a></h3>
            <h5>Pick your 5-man-team</h5>
        </div>
        <div class="Features" style="padding-top: 21%">
            <h3><a href="{% url 'FW:filter_player' %}">Filter players</a></h3>
            <h5>Use the filters in order to find a player</h5>
        </div>
        <div class="Features">
            <h3><a href="{% url 'FW:random_player' %}">Draw a random player</a></h3>
            <h5>Use the link to draw a random player</h5>
        </div>
    </section>
    <section id="databases">
        <div class="Databases" style="padding-top: 21%">
            <h3><a href="{% url 'FW:players_database' %}">Check the players' database</a></h3>
            <h5>Use the filters in order to find a player</h5>
        </div>
        <div class="Databases">
            <h3><a href="{% url 'FW:clubs_database' %}">Check the clubs database</a></h3>
            <h5>Use the filters in order to find a player</h5>
        </div>
        </section>
<footer id="Footer" style="margin-top: 30%">
<ol>
    <li><a href="{% url 'FW:help' %}">Get some help</a></li>
    <li>FootballWRLD <br><center>2021</center></li>
    <li><a href="{% url 'FW:index' %}">Return to menu</a></li>
</ol>
</footer>
</body>
</html>