<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'FW/style.css' %}">
    <meta charset="UTF-8">
    <title>Player</title>
</head>
<body>
    <h2>{{player.name}} {{player.surname}}</h2>
    <table>
        <tr>
            <th><h4>Player name</h4></th>
            <th><h4>{{player.name}}</h4></th>
        </tr>
        <tr>
            <th><h4>Player surname</h4></th>
            <th><h4>{{player.surname}}</h4></th>
        </tr>
        <tr>
            <th><h4>Nationality</h4></th>
            <th><h4>{{player.nationality}}</h4></th>
        </tr>
        <tr>
            <th><h4>Year of birth</h4></th>
            <th><h4>{{player.year_of_birth}}</h4></th>
        </tr>
        <tr>
            <th><h4>Club</h4></th>
            <th><h4><a href="{% url 'FW:club' player.club.id %}">{{player.club}}</a></h4></th>
        </tr>
        <tr>
            <th><h4>Position</h4></th>
            <th><h4>{{player.get_position_display}}</h4></th>
        </tr>
    </table>
    <br>
    <h3>Parameters</h3>
    <table>
        <tr>
            <th><h4>Height</h4></th>
            <th><h4>{{player.height}}</h4></th>
        </tr>
        <tr>
            <th><h4>Weight</h4></th>
            <th><h4>{{player.weight}}</h4></th>
        </tr>
        <tr>
            <th><h4>Foot</h4></th>
            <th><h4>{{player.get_foot_display}}</h4></th>
        </tr>
    </table>
<footer id="Footer">
<ol id="FooterList">
    <li><a href="{% url 'FW:help' %}">Get some help</a></li>
    <li>FootballWRLD <br><center>2021</center></li>
    <li><a href="{% url 'FW:index' %}">Return to menu</a></li>
</ol>
</footer>
</body>
</html>