<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'FW/style.css' %}">
    <meta charset="UTF-8">
    <title>Players' database</title>
</head>
<body>
    <h2>The list of the players in the database: </h2>
    <table>
        <tr>
            <th><h4>No</h4></th>
            <th><h4>Player</h4></th>
            <th><h4>Club</h4></th>
            <th><h4>Country</h4></th>
        </tr>
    {% for player in object_list %}
        <tr>
            <th><h3>{{forloop.counter}}</h3></th>
            <th><h3><a href="{% url 'FW:player' player.id %}">{{player.name}} {{player.surname}} </a></h3></th>
            <th><h3><a href="{% url 'FW:club' player.club.id %}">{{player.club}}</a></h3></th>
            <th><h3>{{player.nationality}}</h3></th>
        </tr>
    {% empty %}
    </table>
        <h2> No players available in the database</h2>
    {% endfor %}
    </table>
<footer id="Footer">
<ol id="FooterList">
    <li><a href="{% url 'FW:index' %}">Return to menu</a></li>
    <li>FootballWRLD <br><center>2021</center></li>
    <li><a href="{% url 'FW:index' %}">Return to menu</a></li>
</ol>
</footer>
</body>
</html>